:root {
    --color-bg: #100803;
    --color-text: #E8D5B7;
    --color-accent-light: #B8956F;
    --color-accent-mid: #E8D5B7;
    --color-hover-underline: #B22400;
    --color-technical-text: #694F4F;

    --font-main: 'Skandal', sans-serif;
    --font-alt: 'TitilliumRus', sans-serif;

    --font-size-h1: 4 rem;
    --font-size-h2: 3rem;     /* 48px */
    --font-size-h3: 2.25rem;   /* 36px */
    --font-size-h4: 1.5rem;    /* 24px */
    --font-size-p: 1.125rem;  /* 18px */
    --font-size-small: 1rem;     /* 16px */

    --for-normal-skandal: 200;
}


@font-face {
    font-family: 'Skandal';
    src: url('assets/fonts/Skandal.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'TitilliumRus';
    src: url('assets/fonts/titilliumwebrusbydaymarius_rg.ttf') format('truetype');
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-main), sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;


    text-rendering: geometricPrecision;

}

h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--for-normal-skandal);}

h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--for-normal-skandal);}

h3 {
    font-size: var(--font-size-h3);
    font-weight: var(--for-normal-skandal);
}

h4 {
    font-size: var(--font-size-h4);
    font-family: var(--font-alt), serif;
}

p {
    font-size: var(--font-size-p);
    font-family: var(--font-alt), serif;
    margin: 0;
}

small {
    font-size: var(--font-size-small);
    font-family: var(--font-alt), serif;
}



