:root {
    --color-bg: #100803;
    --color-text: #E8D5B7;
    --color-accent-light: #B8956F;
    --color-accent-mid: #E8D5B7;
    --color-hover-underline: #B22400;

    --font-main: 'Skandal', sans-serif;
    --font-alt: 'TitilliumRus', sans-serif;

    --font-size-xl: 3rem;  /* 48px */
    --font-size-l: 2.25rem; /* 36px */
    --font-size-m: 1.5rem;  /* 24px */
    --font-size-s: 1.125rem; /* 18px */
}



@font-face {
    font-family: 'Skandal';
    src: url('assets/fonts/Skandal.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'TitilliumRus';
    src: url('assets/fonts/titilliumwebrusbydaymarius_rg.ttf') format('truetype');
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-main), sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;


    text-rendering: geometricPrecision;

}

h1 {
    font-size: var(--font-size-xl);
}

h2 {
    font-size: var(--font-size-l);
}

p {
    font-size: var(--font-size-m);
    margin: 0;
}

small {
    font-size: var(--font-size-s);
}


.button {
    background: transparent;
    border: none;
    color: var(--color-text);
    font-family: var(--font-alt);
    cursor: pointer;
    transition: transform 0.3s ease, letter-spacing 0.3s ease;
    position: relative;
}

.button:hover {
    transform: scale(1.3);
    letter-spacing: 0.1em;
}

.button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background: var(--color-hover-underline);
    transition: all 0.4s ease;
    border-radius: 50%;
    filter: blur(0.5px);
    transform: translateX(-50%);
}

.button:hover::after {
    width: 80%;
}